<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav style="background-color: orange;">
    <ul style="display: flex; list-style: none; justify-content: flex-end; padding: 10px;">
      <li style="margin-right: 10px;"><a href="/catmocks">Cat Mocks</a></li>
      <li style="margin-right: 10px;"><a href="/connect">Connect</a></li>
      <% if (user) { %>
        <li style="margin-right: 10px;"><a href="/logout">Logout</a></li>
      <% } else { %>
        <li style="margin-right: 10px;"><a href="/login">Login</a></li>
      <% } %>
      <li><a href="/colleges">Colleges</a></li>
    </ul>
  </nav>

  <!-- Include the main content -->
  <%- body %>

</body>
</html>
